@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap");

/* common */
.main_title {
  background: url("../img/bg/sub/company.png") 0px 0px / 100% 100% no-repeat;
}

/* .main_title .move_page.prev_page {
  visibility: hidden;
} */

.title_column h2 {
  font-size: 48px;
  font-weight: bold;
  line-height: 1.35;
  letter-spacing: -1.2px;
  text-align: left;
  color: #020202;
  margin-top: 77px;
}

.title_column .title_info {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.4px;
  text-align: left;
  color: #6c6c6c;
  margin-bottom: 80px;
}

@media all and (max-width: 1650px) {
  nav .inner {
    padding: 0 !important;
  }
}

@media all and (max-width: 768px) {
  .main_container .inner {
    padding: 0 4vw;
  }

  .main_title {
    background-image: none;
    height: auto;
    padding: 35px 0;
    position: relative;
  }

  .main_title .inner {
    justify-content: center;
    color: #020202;
  }

  .main_title .move_page {
    display: none;
  }
  .main_title .center_title .name {
    font-size: 26px;
    font-weight: 500;
    letter-spacing: -0.75px;
    text-align: center;
    color: #8f8f8f;
  }

  .main_title .center_title .location {
    justify-content: center;
  }

  .main_title .location span {
    font-size: 36px;
    font-weight: bold;
    letter-spacing: -1px;
    color: #020202;
    position: relative;
  }

  .drop_sub_menu {
    position: absolute;
    top: 50%;
    right: -32px;
    transform: translate(0%, -50%);
    width: 25px;
  }

  .sub_menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 10;
    background-color: #f7f7f7;
  }

  .sub_menu li {
    border-top: 1px solid #dedede;

    text-align: center;
  }

  .sub_menu li:last-child {
    border-bottom: 1px solid #dedede;
  }

  .sub_menu li a {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.32;
    letter-spacing: -0.18px;
    color: #4b4a4a;
    display: block;
    width: 100%;
    height: 100%;
    padding: 16px 16px;
    box-sizing: border-box;
  }

  .sub_menu li.active a {
    background-color: #0075c1;
    color: #fff;
  }

  .title_column h2,
  .title_column .title_info {
    display: none;
  }
}

@media all and (max-width: 414px) {
  .main_title {
    padding: 20px 0;
  }

  .main_title .center_title .name {
    font-size: 20px;
  }

  .drop_sub_menu {
    width: 16px;
    right: -24px;
  }

  .main_title .location span {
    font-size: 20px;
  }

  .sub_menu li a {
    font-size: 16px;
    padding: 8px 16px;
  }
}

/* common */

.title_column {
  padding-bottom: 50px;
}

.title_column .inner {
  background: url("../img/greeting_01.png") 0px 0px / 100% auto no-repeat;
  height: 500px;
}

.sec_01 {
  padding-bottom: 60px;
}
.sec_01 .inner {
  display: flex;
}

.sec_01 .ceo_msg {
  margin-right: 3.3vw;
}

.sec_01 .ceo_msg h3 {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.67;
  letter-spacing: -0.6px;
  text-align: left;
  color: #0075c1;
}

.sec_01 .ceo_msg p {
  font-size: 36px;
  font-weight: 500;
  line-height: 1.11;
  letter-spacing: -0.9px;
  text-align: left;
  color: #020202;
}

.sec_01 .ceo_msg_ct {
  flex: 1;
  font-size: 17px;
  font-weight: 500;
  line-height: 1.41;
  letter-spacing: -0.17px;
}

.sec_01 .ceo_msg_ct p {
  text-align: left;
  color: #6c6c6c;
  word-break: keep-all;
  margin-bottom: 34px;
}

.sec_01 .ceo_msg_ct .sign {
  text-align: right;
  color: #252525;
}

.sec_01 .ceo_msg_ct .sign strong {
  margin: 0 10px;
  font-family: "Nanum Pen Script", cursive;
  font-size: 36px;
  font-weight: normal;
  letter-spacing: -0.36px;
}

@media all and (max-width: 1460px) {
  .title_column .inner {
    height: 35vw;
  }
}

@media all and (max-width: 1024px) {
  .title_column h2 {
    font-size: 40px;
  }

  .sec_01 .ceo_msg h3 {
    font-size: 22px;
  }

  .sec_01 .ceo_msg p {
    font-size: 30px;
  }
}

@media all and (max-width: 768px) {
  .title_column .inner {
    background: url("../img/greeting_02.png") right 0px / 100% auto no-repeat;
    height: 54vw;
    min-height: 168px;
  }

  .sec_01 .inner {
    flex-direction: column;
  }

  .sec_01 .ceo_msg h3 {
    font-size: 20px;
  }

  .sec_01 .ceo_msg p {
    font-size: 26px;
  }

  .sec_01 .ceo_msg_ct {
    margin-top: 5.2vw;
  }

  .sec_01 .ceo_msg_ct p {
    margin-bottom: 10vw;
  }
}

@media all and (max-width: 414px) {
  .sec_01 .ceo_msg h3 {
    font-size: 18px;
  }

  .sec_01 .ceo_msg p {
    font-size: 24px;
  }
}
