html,
body {
  position: relative;
  height: 100%;
}
body {
  background: #000000;
  color: #000;
  margin: 0;
  padding: 0;
}

header {
  position: fixed;
  top: 0;
  z-index: 10;
}

.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide:nth-child(1) {
  background: url("../img/bg/index_bg_1.png") 0px 0px / 100% auto no-repeat;
  background-size: cover;
}

.swiper-slide:nth-child(2) {
  background: url("../img/bg/index_bg_2.png") 0px 0px / 100% auto no-repeat;
  background-size: cover;
}

.swiper-slide:nth-child(3) {
  background: url("../img/bg/index_bg_3.png") 0px 0px / 100% auto no-repeat;
  background-size: cover;
}

.swiper-slide:nth-child(4) {
  background: url("../img/bg/index_bg_4.png") 0px 0px / 100% auto no-repeat;
  background-size: cover;
}

.swiper-slide:nth-child(5) {
  display: flex;
  flex-direction: column;
}

.swiper-slide:nth-child(5) .container {
  width: 100%;
  height: 100%;
  background: url("../img/bg/index_bg_5.png") no-repeat;
  background-size: cover;
}

.swiper-container-vertical > .swiper-pagination-bullets {
  right: 8vw;
}

.swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  border: 1px solid #fabe00;
  opacity: 1;
  background: transparent;
}

.swiper-pagination-bullet-active {
  background: #fabe00;
}

.swiper-container-vertical
  > .swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 24px 0;
}

.swiper-slide .inner {
  max-width: 1460px;
  width: 100%;
  height: 100vh;
}

.swiper-slide .txt h2 {
  font-size: 72px;
  font-weight: bold;
  line-height: 0.9;
  letter-spacing: -1.8px;
  text-align: left;
  margin-bottom: 16px;
}

.swiper-slide .txt .desc {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.33;
  letter-spacing: -0.45px;
  text-align: left;
}

.scroll {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  display: flex;
  flex-direction: column;
}

.scroll img {
  margin-bottom: 17px;
  height: 50px;
}

.scroll span {
  font-family: "NanumSquare";
  font-size: 14px;
  font-weight: 700;
  line-height: 1.68;
  letter-spacing: 0.56px;
  color: #fff;
}

/* slide_01  */
.slide_01 .inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.slide_01 .slider {
  width: 100%;
  max-width: 900px;
  margin-bottom: 60px;
}

.slide_01 .slick-slide .column {
  width: 100%;
  height: 262px;
  text-align: left;
}

.slide_01 .slick-prev,
.slide_01 .slick-next {
  display: none !important;
}

.slide_01 .slick-dots {
  top: -45px;
  bottom: auto;
  display: flex;
}

.slide_01 .slick-dots .slick-active {
  background-color: #fff;
  border-radius: 50%;
}

.slide_01 .slick-dots li {
  width: 15px;
  height: 15px;
  margin: 0 6px;
}

.slide_01 .slick-dots li button {
  border: 1px solid #fff;
  border-radius: 50%;
  width: 15px;
  height: 15px;
}

.slide_01 .slick-dots li button:before {
  width: 15px;
  height: 15px;
  content: "";
}

.slide_01 .slick_stop {
  margin: 0 6px;
  cursor: pointer;
}

.slide_01 .title_desc {
  font-size: 24px;
  font-weight: 300;
  line-height: 2.29;
  letter-spacing: -0.6px;
  color: #fff;
}

.slide_01 .column_title {
  font-size: 60px;
  font-weight: bold;
  line-height: 0.92;
  letter-spacing: -3px;
  text-align: left;
  color: #fff;
  word-break: break-word;
}

.slide_01 .column_title span {
  color: #ffea38;
}

.slide_01 .desc_txt {
  opacity: 0.6;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.33;
  letter-spacing: -0.45px;
  color: #fff;
  word-break: break-word;
}

.slide_01 .news_card {
  max-width: 720px;
  width: 100%;
  height: 78px;
  background-color: #0b1e3d;
  padding: 0 32px;
  display: flex;
  align-items: center;
}

.slide_01 .news_card .title {
  font-family: "NanumSquare";
  font-weight: 800;
  font-size: 18px;
  line-height: 3.06;
  letter-spacing: -0.9px;
  color: #fff;
  margin-right: 36px;
}

.slide_01 .news_card .desc {
  font-size: 17px;
  font-weight: 300;
  line-height: 3.24;
  letter-spacing: -0.43px;
  text-align: left;
  color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex: 1;
}

/* slide_02 */

.slide_02 .inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.slide_02 .txt h2,
.slide_02 .txt .desc {
  color: #fff;
}

.slide_02 .card_wrap {
  display: flex;
  justify-content: flex-end;
  margin-top: 60px;
}

.slide_02 .card_column {
  width: 100%;
  max-width: 310px;
  height: 268px;
  background-color: rgba(0, 0, 0, 0.5);
  margin-left: 20px;
  padding: 43px 22px 0 33px;
  transition: all 0.5s linear;
}

.slide_02 .card_column:hover {
  background-color: #90c31f;
  transform: scale(1.1);
}

.slide_02 .card_column .txt {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.slide_02 .card_column h4 {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.25;
  letter-spacing: -0.6px;
  text-align: left;
  color: #fff;
  margin-bottom: 20px;
}
.slide_02 .card_column span {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: -0.4px;
  text-align: left;
  color: #fff;
  display: block;
  opacity: 0.7;
}

.slide_02 .card_column img {
  max-width: 62px;
  display: block;
  margin-left: auto;
  margin-right: 44px;
}

/* slide_03 */
.slide_03 .inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.slide_03 .txt h2,
.slide_03 .txt .desc {
  color: #000;
}

.slide_03 .card_wrap {
  display: flex;
  justify-content: flex-end;
  margin-top: 60px;
}

.slide_03 .card_column .img_wrap {
  position: relative;
}

.slide_03 .card_column .bg_txt {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: bold;
  line-height: 2.17;
  letter-spacing: -0.75px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  opacity: 0;
  transition: all 0.5s linear;
}

.slide_03 .card_column .img_wrap:hover > .bg_txt {
  opacity: 1;
}

/* 
.slide_03 .card_column:nth-child(1)::before {
  content: "축산";
}

.slide_03 .card_column:nth-child(2)::before {
  content: "수산";
}

.slide_03 .card_column:nth-child(3)::before {
  content: "식품";
} */

.slide_03 .card_column {
  margin-left: 30px;
}

.slide_03 .card_column:nth-child(1) {
  margin-top: 40px;
}

.slide_03 .card_column:nth-child(3) {
  margin-top: 70px;
}

/* slide_04 */

.slide_04 .inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.slide_04 .txt h2,
.slide_04 .txt .desc {
  color: #fff;
}

.slide_04 .card_wrap {
  display: flex;
  justify-content: space-between;
  margin-top: 130px;
}

.slide_04 .card_column {
  max-width: 367px;
  width: 100%;
  padding-top: 20px;
  border-top: 2px solid #959595;
}

.slide_04 .card_column:nth-child(2) {
  margin: 0 10px;
}

.slide_04 .card_column h3.title {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.2em;
  letter-spacing: -0.6px;
  text-align: left;
  color: #fff;
  margin-bottom: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: keep-all;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  height: 2.3em;
}

.slide_04 .card_column .desc {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: -0.16px;
  text-align: left;
  color: #aaa;
  min-height: 140px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: keep-all;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  height: 8em;
}

.slide_04 .card_column .regdate {
  font-size: 15px;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: -0.15px;
  text-align: left;
  color: #aaa;
  margin-top: 36px;
}

/* slide_05 */
.slide_05 .inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  height: 100%;
}

.slide_05 .txt h2,
.slide_05 .txt .desc {
  color: #fff;
}

.slide_05 .card_wrap {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}

.slide_05 .card_column {
  width: 50%;
  max-width: 700px;
}

.slide_05 .stock_card {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 34px 56px;
  color: #fff;
  text-align: left;
  margin-right: 60px;
}

.slide_05 .stock_card .title_column {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.slide_05 .stock_card .title_column h3 {
  font-size: 24px;
  font-weight: bold;
  line-height: 2.31;
  letter-spacing: -0.6px;
}

.slide_05 .stock_card .title_column .today {
  font-size: 15px;
  font-weight: 500;
  line-height: 3.7;
  letter-spacing: -0.38px;
  text-align: right;
  color: #a3a2a2;
}

.slide_05 .stock_card .current_price {
  font-size: 40px;
  font-weight: bold;
  line-height: 1.39;
  letter-spacing: -1px;
}

.slide_05 .stock_card .current_price span {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.4px;
}

.slide_05 .stock_card .current_info {
  font-size: 16px;
  font-weight: 500;
  line-height: 3.47;
  letter-spacing: -0.4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.slide_05 .current_info .name {
  margin-right: 10px;
}

.slide_05 .stock_card .range.down {
  color: #17a4ff;
}

.slide_05 .stock_card .range.up {
  color: #ff4d61;
}

.slide_05 .stock_info .column {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.slide_05 .stock_info .name {
  display: inline-block;
  min-width: 70px;
  font-size: 18px;
  font-weight: 500;
  line-height: 3.08;
  letter-spacing: -0.45px;
  margin-right: 26px;
}

.slide_05 .total_col .num {
  font-size: 30px;
  font-weight: bold;
  line-height: 1.85;
  letter-spacing: -0.75px;
}

.slide_05 .stock_info .num.per {
  display: inline-block;
  min-width: 63px;
  margin-left: 10px;
  text-align: right;
}

.slide_05 .board_card {
  padding: 34px 0;
  color: #fff;
  text-align: left;
}

.slide_05 .board_card h3 {
  font-size: 24px;
  font-weight: bold;
  line-height: 2.31;
  letter-spacing: -0.6px;
}

.slide_05 .content .column {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.slide_05 .content .title,
.slide_05 .content .regdate {
  font-size: 16px;
  font-weight: 300;
  line-height: 2.25;
  letter-spacing: -0.4px;
}

.slide_05 .content .title {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-right: 10px;
}

#footer {
  position: relative;
}

.slide_05 .container {
  padding-top: 100px;
}

@media all and (max-width: 1800px) {
  .swiper-container-vertical > .swiper-pagination-bullets {
    right: 6vw;
  }
}

@media all and (max-width: 1730px) {
  .swiper-container-vertical > .swiper-pagination-bullets {
    right: 4vw;
  }
}

@media all and (max-width: 1650px) {
  #header-middle-area,
  .swiper-slide .inner {
    padding: 0 4vw;
  }

  .slide_05 .inner {
    padding: 100px 4vw 0;
  }

  .swiper-container-vertical > .swiper-pagination-bullets {
    right: 2vw;
  }
}

@media all and (max-width: 1100px) {
  .slide_03 .card_wrap {
    width: 110%;
  }

  .slide_05 .stock_card {
    min-width: 380px;
    margin-right: 30px;
    padding: 16px 24px;
  }
}

@media all and (max-width: 1024px) {
  .swiper-slide {
    font-size: 14px;
  }

  .swiper-container-vertical > .swiper-pagination-bullets,
  .scroll {
    display: none !important;
  }

  .swiper-slide:nth-child(1) {
    background: url(../img/bg/index_bg_1.png) 50% / 100% auto no-repeat;
    background-size: cover;
  }

  .swiper-slide:nth-child(2) {
    background: url(../img/bg/index_bg_2.png) 50% / 100% auto no-repeat;
    background-size: cover;
  }

  .swiper-slide:nth-child(4) {
    background: url(../img/bg/index_bg_4.png) 50% / 100% auto no-repeat;
    background-size: cover;
  }

  .swiper-slide:nth-child(5) .container {
    background: url(../img/bg/index_bg_5.png) 50% / 100% auto no-repeat;
    background-size: cover;
  }

  .slide_01 .title_desc {
    font-size: 20px;
  }

  .slide_01 .column_title {
    font-size: 42px;
  }

  .swiper-slide .txt h2 {
    font-size: 40px;
  }

  .slide_01 .news_card {
    max-width: 500px;
    height: 60px;
    padding: 0 20px;
  }

  .slide_01 .slick-slide .column {
    height: 200px;
  }

  .slide_01 .news_card .title,
  .slide_01 .news_card .desc {
    font-size: 15px;
    line-height: 1.3;
  }

  .swiper-slide .txt .desc {
    font-size: 16px;
  }

  .slide_02 .card_column {
    padding: 30px 15px;
    height: auto;
  }

  .slide_02 .card_wrap {
    margin-top: 40px;
  }

  .slide_02 .card_column img {
    margin: 0 auto;
    max-width: 46px;
  }

  .slide_02 .card_column h4 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .slide_03 .card_wrap {
    width: 110%;
    margin-top: 45px;
  }

  .slide_03 .card_column img {
    max-width: 230px;
    width: 30vw;
  }

  .slide_03 .card_column::before {
    font-size: 24px;
  }

  .slide_04 .card_wrap {
    margin-top: 80px;
  }

  .slide_05 .card_wrap {
    margin-top: 60px;
  }

  .slide_05 .stock_card .title_column h3 {
    font-size: 20px;
  }
  .slide_05 .stock_card .title_column .today {
    font-size: 13px;
  }

  .slide_05 .stock_card .current_price {
    font-size: 30px;
  }

  .slide_05 .board_card h3 {
    font-size: 20px;
  }

  .slide_05 .total_col .num {
    font-size: 24px;
  }

  .slide_05 .stock_card .current_info {
    font-size: 14px;
  }

  .slide_05 .content .title,
  .slide_05 .content .regdate {
    font-size: 14px;
  }

  .slide_03 .card_column .bg_txt {
    font-size: 28px;
  }
}

@media all and (max-width: 768px) {
  .swiper-slide:nth-child(1) {
    background: url(../img/bg/index_bg_1.png) 60% / 100% auto no-repeat;
    background-size: cover;
  }

  .swiper-slide:nth-child(2) {
    background: url(../img/bg/index_bg_2.png) 60% / 100% auto no-repeat;
    background-size: cover;
  }

  .swiper-slide:nth-child(4) {
    background: url(../img/bg/index_bg_4.png) 60% / 100% auto no-repeat;
    background-size: cover;
  }

  .swiper-slide:nth-child(5) .container {
    background: url(../img/bg/index_bg_5.png) 60% / 100% auto no-repeat;
    background-size: cover;
  }

  .swiper-slide .txt h2 {
    font-size: 30px;
  }

  .slide_02 .txt h2 {
    margin-top: 60px;
  }

  .slide_02 .card_wrap {
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
  }

  .slide_02 .card_column span {
    font-size: 15px;
  }

  .slide_02 .card_column {
    max-width: 450px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
    height: auto;
    margin: 0 0 10px 0;
    padding: 10px 12px;
  }

  .swiper-slide .txt .desc > div {
    display: inline;
  }

  .slide_04 .card_wrap {
    margin-top: 50px;
  }

  .slide_04 .card_column:nth-child(3) {
    display: none;
  }

  .slide_05 .card_wrap {
    margin-top: 40px;
  }

  .slide_05 .board_card {
    display: none;
  }

  .slide_05 .stock_card {
    min-width: auto;
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
  }

  .slide_03 .card_column .bg_txt {
    font-size: 24px;
  }
}

@media all and (max-width: 414px) {
  .swiper-slide {
    font-size: 10px;
  }

  .swiper-slide:nth-child(1) {
    background: url(../img/bg/index_bg_1.png) 70% / 100% auto no-repeat;
    background-size: cover;
  }

  .swiper-slide:nth-child(2) {
    background: url(../img/bg/index_bg_2.png) 70% / 100% auto no-repeat;
    background-size: cover;
  }

  .swiper-slide:nth-child(4) {
    background: url(../img/bg/index_bg_4.png) 70% / 100% auto no-repeat;
    background-size: cover;
  }

  .swiper-slide:nth-child(5) .container {
    background: url(../img/bg/index_bg_5.png) 70% / 100% auto no-repeat;
    background-size: cover;
  }

  .slide_01 .slick-dots li button {
    width: 8px;
    height: 8px;
  }

  .slide_01 .slick-dots li {
    width: 8px;
    height: 8px;
  }

  .slide_01 .slick-dots li button:before {
    width: 8px;
    height: 8px;
  }

  .slick-dots li button {
    padding: 3px;
  }

  .slide_01 .slick_stop {
    height: 8px;
  }

  .slide_01 .slick-dots {
    top: -25px;
  }

  .slide_01 .title_desc {
    font-size: 16px;
  }

  .slide_01 .column_title {
    font-size: 24px;
  }

  .slide_01 .desc_txt {
    font-size: 12px;
    margin-top: 10px;
  }

  .slide_01 .slick-slide .column {
    height: 162px;
  }

  .slide_01 .slider {
    margin-bottom: 20px;
  }

  .slide_01 .news_card {
    height: 40px;
    padding: 0 16px;
  }

  .slide_01 .news_card .title,
  .slide_01 .news_card .desc {
    font-size: 12px;
    line-height: 1;
  }

  .slide_01 .news_card .title {
    margin-right: 18px;
  }

  .swiper-slide .txt h2 {
    font-size: 20px;
  }

  .swiper-slide .txt .desc {
    font-size: 14px;
  }

  .swiper-slide .txt .desc > div {
    display: inline;
  }

  .slide_02 .txt h2 {
    margin-top: 30px;
  }

  .slide_02 .card_column {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    height: auto;
    margin: 0 0 10px 0;
    padding: 10px 12px;
  }

  .slide_02 .card_column .txt {
    margin-bottom: 0px;
  }

  .slide_02 .card_column h4 {
    font-size: 14px;
    margin-bottom: 4px;
  }

  .slide_02 .card_column span {
    font-size: 12px;
  }

  .slide_02 .card_wrap {
    flex-direction: column;
    margin-top: 10px;
  }

  .slide_02 .card_column img {
    margin-right: 10px;
    max-width: 36px;
  }

  .slide_03 .card_wrap {
    width: 110%;
    margin-top: 30px;
  }

  .slide_03 .card_column img {
    width: 33vw;
  }

  .slide_03 .card_column {
    margin-left: 10px;
  }

  .slide_03 .card_column::before {
    font-size: 16px;
    bottom: 12px;
  }

  .slide_03 .card_column:nth-child(1) {
    margin-top: 20px;
  }

  .slide_03 .card_column:nth-child(3) {
    margin-top: 35px;
  }

  .slide_03 .card_column:nth-child(3)::before {
    bottom: 35px;
  }

  .slide_04 .card_wrap {
    margin-top: 30px;
  }

  .slide_04 .card_column h3.title {
    font-size: 16px;
  }

  .slide_04 .card_column .desc {
    font-size: 12px;
    min-height: auto;
  }

  .slide_04 .card_column .regdate {
    font-size: 12px;
    margin-top: 12px;
  }

  .slide_05 .container {
    padding-top: 0;
  }

  .slide_05 .inner {
    padding: 50px 4vw 0;
  }

  .slide_05 .card_wrap {
    margin-top: 20px;
  }

  .slide_05 .card_column {
    width: 100%;
    max-width: none;
    margin: 0;
    padding: 8px 12px;
  }

  .slide_04 .card_column:nth-child(2),
  .slide_04 .card_column:nth-child(3),
  .slide_05 .board_card {
    display: none;
  }

  .slide_05 .stock_card .title_column h3 {
    font-size: 16px;
  }

  .slide_05 .stock_card .title_column .today {
    font-size: 10px;
  }

  .slide_05 .stock_card .current_info {
    font-size: 12px;
  }

  .slide_05 .stock_card .current_price {
    font-size: 20px;
  }

  .slide_05 .stock_card .current_price span {
    font-size: 12px;
  }

  .slide_05 .stock_info .name {
    font-size: 15px;
    margin-right: 10px;
    min-width: 58px;
    line-height: 1;
  }

  .slide_05 .total_col .num {
    font-size: 20px;
  }

  .slide_03 .card_column .bg_txt {
    font-size: 20px;
  }
}
