@media all and (max-width: 1650px) {
  #header-middle-area,
  .main_title .inner,
  .main_container .inner,
  section .inner {
    padding: 0 4vw;
  }

  nav .inner {
    padding: 0 !important;
  }
}

@media all and (max-width: 1200px) {
  #footer .content {
    margin-left: 50px;
  }
}

@media all and (max-width: 1100px) {
  #footer .column .info {
    flex-direction: column;
  }

  #footer .column .info .bar {
    display: none;
  }

  #footer .copyright {
    margin-top: 20px;
  }
}

@media all and (max-width: 1024px) {
  #menu {
    position: absolute;
    top: 100px;
    left: -4vw;
    width: 100vw;
    height: calc(100vh - 100px);
    overflow-y: auto;
    display: none;
  }

  #header .header_area.on #menu {
    display: block;
  }
  #menu ul li.menu_step01 {
    width: 100%;
    height: auto;
  }

  #menu ul.wrap {
    flex-direction: column;
    align-items: center;
  }

  .header_area #menu ul li.menu_step01 .wrap {
    height: auto;
    display: none;
  }

  .header_area.on #menu ul li.menu_step01 .wrap {
    display: flex;
    margin: 30px 0;
  }

  #header .header_area.active #menu ul li .wrap a {
    display: none;
  }

  #header .header_area.active #menu ul li span {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.25;
    cursor: pointer;
  }

  #header .header_area.on #menu .sub_wrap {
    position: relative;
    top: 0;
    display: none;
  }

  #menu .menu_step01 .wrap.show + .sub_wrap {
    display: block !important;
  }

  #menu .menu_step01 .wrap.show span {
    color: #0075c1;
  }

  #menu .menu_icon img {
    height: 60px;
  }

  #menu .menu_icon .bar {
    min-width: 29px;
    width: 6vw;
  }

  .wrapper {
    padding-bottom: 80px;
  }

  .tab_btns {
    margin-bottom: 40px;
  }

  .tab_btns a {
    height: 46px;
    padding: 0 26px;
    font-size: 18px;
    border-radius: 46px;
    margin-right: 10px;
  }

  #footer .logo {
    max-width: 150px;
  }

  #footer .content {
    margin-left: 30px;
  }
}

@media all and (max-width: 960px) {
  #header .header_area.active #menu ul.sub_wrap li a {
    font-size: 18px;
  }
}

@media all and (max-width: 768px) {
  .web_ver {
    display: none;
  }

  .mo_ver {
    display: block;
  }

  .wrapper {
    padding-bottom: 50px;
  }

  .main_container .inner {
    padding: 0 4vw;
  }

  .main_title {
    background-image: none;
    height: auto;
    padding: 35px 0;
    position: relative;
  }

  .main_title .inner {
    justify-content: center;
    color: #020202;
  }

  .main_title .move_page {
    display: none;
  }
  .main_title .center_title .name {
    font-size: 26px;
    font-weight: 500;
    letter-spacing: -0.75px;
    text-align: center;
    color: #8f8f8f;
  }

  .main_title .center_title .location {
    justify-content: center;
  }

  .main_title .location span {
    font-size: 36px;
    font-weight: bold;
    letter-spacing: -1px;
    color: #020202;
    position: relative;
  }

  .drop_sub_menu {
    position: absolute;
    top: 50%;
    right: -32px;
    transform: translate(0%, -50%);
    width: 25px;
  }

  .sub_menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 10;
    background-color: #f7f7f7;
  }

  .sub_menu li {
    border-top: 1px solid #dedede;

    text-align: center;
  }

  .sub_menu li:last-child {
    border-bottom: 1px solid #dedede;
  }

  .sub_menu li a {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.32;
    letter-spacing: -0.18px;
    color: #4b4a4a;
    display: block;
    width: 100%;
    height: 100%;
    padding: 16px 16px;
    box-sizing: border-box;
  }

  .sub_menu li.active a {
    background-color: #0075c1;
    color: #fff;
  }

  .title_column {
    display: none;
  }

  .tab_btns {
    margin-bottom: 30px;
    text-align: center;
  }

  #footer {
    min-height: 250px;
  }

  #footer .dropdown {
    display: none;
  }
  #footer .inner {
    flex-direction: column;
    align-items: center;
    padding: 20px 4vw 10px;
  }

  #footer .content .column {
    margin: 0 10px;
    align-items: center;
  }

  #footer .copyright {
    text-align: center;
  }

  #footer .content {
    margin-left: 0;
  }

  #footer .content .wapper {
    flex-direction: column;
    align-items: center;
  }
}

@media all and (max-width: 414px) {
  #header .header_area.active #menu ul li span {
    font-size: 16px;
  }

  #header .header_area .logo {
    background-size: 100% auto !important;
    min-width: auto;
    width: 70px;
  }

  #header,
  #header-middle-area,
  #header-middle-area .header-middle {
    height: 50px;
  }
  #header .side_btn .language {
    min-width: 16px;
    width: 16px;
    height: 16px;
    background: url(../img/icon/language.png) center / 16px 16px no-repeat;
  }

  #header .header_area.active .side_btn .language {
    background: url(../img/icon/language_black.png) center / 16px 16px no-repeat;
  }

  #header .balloon {
    top: 26px;
    width: 60px;
  }

  #header .balloon:after {
    top: -7px;
    left: 20px;
  }

  #header .balloon a {
    font-size: 14px;
  }

  #header .side_btn .munu_min {
    font-size: 10px;
    line-height: 1.3;
  }

  #header .side_btn .dot {
    width: 6px;
    height: 6px;
  }

  #header .side_btn .bar {
    margin: 0 6px;
  }

  #menu {
    top: 50px;
    height: calc(100vh - 50px);
  }

  #menu .menu_icon img {
    height: 40px;
  }

  .header_area.on #menu ul li.menu_step01 .wrap {
    margin: 20px 0;
  }

  #header .header_area.active #menu ul.sub_wrap li a {
    font-size: 16px;
  }

  .tab_btns a {
    max-width: 48vw;
    min-width: 30vw;
    height: 30px;
    padding: 0 16px;
    font-size: 14px;
    border-radius: 30px;
    margin-right: 4px;
  }

  .main_title {
    padding: 20px 0;
  }

  .main_title .center_title .name {
    font-size: 20px;
  }

  .main_title .location span {
    font-size: 20px;
  }

  .drop_sub_menu {
    width: 16px;
    right: -24px;
  }

  .sub_menu li a {
    font-size: 16px;
    padding: 8px 16px;
  }

  #footer {
    font-size: 10px;
    min-height: auto;
  }

  #footer .logo {
    max-width: 80px;
  }

  #footer .inner {
    flex-direction: column;
    padding: 10px;
    align-items: center;
  }

  #footer .content {
    padding-top: 0;
    margin: 0;
  }

  #footer .content .wapper {
    flex-direction: column;
    align-items: center;
  }

  #footer .dropbtn {
    display: none;
  }

  #footer .column .name {
    font-size: 11px;
  }

  #footer .column .name.co_name {
    color: #fff;
    font-size: 12px;
  }

  #footer .content .column {
    align-items: center;
    text-align: center;
  }
}
