.main_title {
  background: url("../img/bg/sub/Press.png") center / cover no-repeat;
}

nav ul li {
  width: calc(100% / 2);
}

img[alt="link"] {
  cursor: pointer;
  width: 20px;
}

.sec_01 {
  position: relative;
}

.sec_01 .inner {
  height: 100%;
}

.sec_01 .swiper-container {
  width: 100%;
  height: 100%;
  padding-bottom: 35px;
}

.sec_01 .swiper-slide {
  height: 400px;
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  padding: 2px;
}

.sec_01 .swiper-slide .card_wrap {
  max-width: 40vw;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  border: 1px solid #dfdfdf;
  padding: 40px 28px;
  box-sizing: border-box;
  flex-direction: column;
}

.sec_01 .swiper-slide .title {
  font-size: 22px;
  font-weight: bold;
  letter-spacing: -0.55px;
  text-align: left;
  color: #202020;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  line-height: 1.2em;
  height: 2.4em;
}

.sec_01 .swiper-slide .desc {
  font-size: 17px;
  letter-spacing: -0.17px;
  text-align: left;
  color: #727272;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  line-height: 1.5em;
  height: 9em;
}

.sec_01 .swiper-slide .column {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sec_01 .swiper-slide .regdate {
  font-size: 17px;
  line-height: 1.76;
  letter-spacing: -0.17px;
  color: #727272;
}

.sec_01 .arrows_column {
  width: 20vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 34px;
}

.sec_01 .prev_btn,
.sec_01 .next_btn,
.sec_01 .stop_btn {
  cursor: pointer;
}

.sec_01 .prev_wrap,
.sec_01 .next_wrap {
  margin-right: 10px;
}

.swiper-container-horizontal .swiper-scrollbar {
  z-index: 50;
  height: 5px;
  margin-right: 10px;
}

.sec_01 .swiper-container-horizontal .swiper-scrollbar {
  min-width: 180px;
  width: 18vw;
  position: initial;
}

.sec_01 .swiper-scrollbar-drag {
  background: rgba(0, 0, 0, 0.7);
}

.sec_02 .total {
  font-size: 16px;
  font-weight: bold;
  line-height: 2.69;
  letter-spacing: -0.8px;
  text-align: left;
  color: #969696;
}

.sec_02 .total span {
  color: #0075c1;
}

.sec_02 .board_table {
  border-top: 1px solid #c6c6c6;
}

.sec_02 .board_table {
  border-top: 1px solid #c6c6c6;
}

.sec_02 .board_wrap {
  border-bottom: 1px solid #f1f1f1;
  display: flex;
  padding: 32px 0;
}

.sec_02 .board_wrap .date_column {
  display: flex;
  flex-direction: column;
  margin-right: 60px;
}

.sec_02 .date_column .month {
  font-size: 16px;
  font-weight: bold;
  line-height: 2.69;
  letter-spacing: -0.4px;
  text-align: center;
  color: #8b8b8a;
}

.sec_02 .date_column .day {
  font-size: 60px;
  font-weight: bold;
  line-height: 0.72;
  letter-spacing: -3px;
  text-align: center;
  color: #8b8b8a;
  margin-top: 8px;
}

.sec_02 .board_wrap .board_column {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.sec_02 .board_column .title {
  font-size: 17px;
  font-weight: bold;
  line-height: 2.53;
  letter-spacing: -0.43px;
  text-align: left;
  color: #020202;
}

.sec_02 .board_column .title a {
  display: flex;
  align-items: center;
}

.sec_02 .board_column .title .notice {
  width: 48px;
  height: 28px;

  font-size: 16px;
  font-weight: bold;
  line-height: 2.69;
  letter-spacing: -0.8px;
  color: #0075c1;
  border: 1px solid #0075c1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.sec_02 .board_column .title .txt {
  max-width: 700px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0 10px;
}

.sec_02 .board_column .desc {
  margin-top: 12px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.4px;
  text-align: left;
  color: #929292;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  line-height: 1.2em;
  height: 2.4em;
}

.pagenation {
  margin: 50px 0 50px;
}

@media all and (max-width: 1200px) {
  .sec_01 .swiper-slide {
    height: 360px;
  }
}

@media all and (max-width: 1024px) {
  .title_column .title_info {
    margin-bottom: 60px;
  }
  .sec_01 .swiper-slide .title {
    font-size: 20px;
  }
  .sec_01 .swiper-slide .desc,
  .sec_01 .swiper-slide .regdate {
    font-size: 16px;
  }

  .sec_02 .date_column .day {
    font-size: 55px;
  }

  .sec_02 .board_wrap .date_column {
    margin-right: 50px;
    min-width: 94px;
  }
}

@media all and (max-width: 768px) {
  .title_column .title_info {
    margin-bottom: 40px;
  }
  .sec_01 .swiper-slide .title {
    font-size: 18px;
  }
  .sec_01 .swiper-slide .desc,
  .sec_01 .swiper-slide .regdate {
    font-size: 15px;
  }
  img[alt="link"] {
    width: 24px;
  }

  .sec_01 .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    width: 70% !important;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  .sec_01 .swiper-slide .card_wrap {
    max-width: none;
  }

  .sec_01 .swiper-slide {
    height: 70vw;
    max-height: 320px;
  }

  .sec_01 .swiper-slide .card_wrap {
    padding: 30px 20px;
  }

  .sec_02 .date_column .day {
    font-size: 50px;
  }

  .sec_02 .board_wrap .date_column {
    margin-right: 40px;
    min-width: 53px;
  }

  .sec_02 .board_wrap {
    padding: 28px 0;
  }
  .sec_02 .board_column .title a {
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 100%;
  }
  .sec_02 .board_wrap .board_column {
    justify-content: center;
  }
  .sec_02 .board_column .title,
  .sec_02 .board_column .title .notice,
  .sec_02 .board_column .desc {
    font-size: 15px;
  }

  .sec_02 .board_column .title .txt {
    margin: 0;
    width: 72vw;
    line-height: 1;
    margin-top: 10px;
  }

  .sec_02 .board_column .title .notice {
    width: 40px;
    height: 24px;
  }

  .sec_02 .board_column img[alt="link"],
  .sec_02 .board_column .desc {
    display: none;
  }

  .sec_02 .date_column .month {
    font-size: 15px;
    line-height: 1;
  }

  .sec_02 .date_column .day {
    font-size: 40px;
  }

  .sec_02 .board_wrap {
    padding: 24px 0;
  }

  .pagenation {
    margin: 30px 0 0 !important;
  }
}

@media all and (max-width: 414px) {
  .title_column .title_info {
    margin-bottom: 20px;
  }

  .sec_01 .swiper-slide .title {
    font-size: 16px;
    height: 2.5em;
  }

  .sec_01 .swiper-slide .desc,
  .sec_01 .swiper-slide .regdate {
    font-size: 14px;
  }

  .sec_01 .swiper-slide .desc {
    -webkit-line-clamp: 5;
    height: 7.5em;
  }

  .sec_01 .swiper-slide .card_wrap {
    padding: 20px 10px;
  }

  .sec_01 .swiper-slide {
    width: 80% !important;
  }

  .sec_01 .prev_wrap,
  .sec_01 .next_wrap {
    margin-right: 6px;
  }

  .sec_01 .prev_wrap img,
  .sec_01 .next_wrap img {
    width: 24px;
  }

  .sec_02 .total {
    font-size: 14px;
  }

  .sec_02 .board_wrap .date_column {
    margin-right: 20px;
  }

  .sec_02 .board_column .title .notice {
    font-size: 14px;
  }
}
