@import "default.css";
/* @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;700;900&display=swap");
@import "/fonts/nanumsquare.css";
@import "/fonts/KoPubDotum.css";
@import "index.css";

body {
  font-family: "KoPub Dotum", sans-serif;
}
#header {
  width: 100%;
  height: 100px;
  margin: 0;
}

#header .header_area .logo {
  background: url("../img/logo.png") center / 100% 53px no-repeat;
  min-width: 202px;
  width: 202px;
  height: 100%;
  background-position: center;
}

/* 메뉴 */
#header .header_area {
  position: relative;
  width: 100%;
  height: 100%;
  /* height: 426px; */
  /* overflow: hidden; */
  margin: 0 auto;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.2);
}

#header .header_area.active {
  background-color: #fff;
}
#header-middle-area {
  position: relative;
  width: 100%;
  height: 100px;
  padding-top: 0;
  z-index: 10;
}

#header-middle-area .header-middle {
  position: relative;
  max-width: 1460px;
  width: 100%;
  height: 100px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#header h1 {
  float: left;
  margin-top: 8px;
}

#header h1 a {
  display: block;
}

#header #menu {
  width: 100%;
  height: 100%;
  max-width: 1000px;
}

#menu ul {
  position: relative;
  z-index: 100;
  height: 100%;
  width: 100%;
}

#menu ul.wrap {
  display: flex;
}

#menu ul li {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 0;
}

#menu ul li.menu_step01 {
  height: 100%;
  width: calc(100% / 6);
}

#menu ul li.menu_step01 .wrap {
  height: 100%;
  display: flex;
  align-items: center;
}

#menu ul.wrap li a {
  display: table;
  margin: auto;
  position: relative;
  word-break: keep-all;
  font-size: 17px;
  font-weight: 400;
  line-height: 1.39;
  letter-spacing: -0.17px;
  color: #fff;
}

#menu ul.wrap li span {
  display: none;
}

#menu .sub_wrap {
  display: none;
  position: absolute;
  top: 100px;
  left: 0;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  z-index: 10;
  height: auto;
}

#menu .menu_icon img {
  display: block;
  margin: 30px auto 0;
}

#menu .menu_icon .bar {
  width: 29px;
  height: 1px;
  background: #b2b2b2;
  margin: 22px auto;
}

#menu .sub_wrap li {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  z-index: 10;
}

#menu ul.sub_wrap li a {
  position: relative;
  display: block;
  z-index: 10;
  text-align: center;
  color: transparent;
}

#header .side_btn {
  display: flex;
  align-items: center;
}

#header .side_btn .language {
  min-width: 28px;
  width: 28px;
  height: 28px;
  background: url("../img/icon/language.png") center / 26px 26px no-repeat;
  cursor: pointer;
  position: relative;
}

#header .side_btn .bar {
  width: 1px;
  height: 14px;
  background: #fff;
  margin: 0 12px;
}

#header .side_btn .munu_min {
  min-width: 41px;
  font-family: "Orbitron";
  font-size: 11px;
  letter-spacing: normal;
  line-height: 1.68;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

#header .side_btn .dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #ffffff;
  display: inline-block;
}

#header .header_area.on #header-middle-area {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
}

#header .header_area.active .logo {
  background: url("../img/logo_black.png") center / 100% 53px no-repeat;
}

#header .header_area.active #menu ul li a {
  font-size: 17px;
  font-weight: bold;
  line-height: 1.39;
  letter-spacing: -0.17px;
  color: #161616;
}

#header .header_area.on #menu .sub_wrap {
  display: block;
}

#header .header_area.active #menu ul.sub_wrap li a {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.88;
  letter-spacing: -0.16px;
  color: #626262;
}

#header .header_area.active #menu ul.sub_wrap li a:hover {
  font-weight: bold;
  color: #0075c1;
}

#header .header_area.active .side_btn .language {
  background: url("../img/icon/language_black.png") center / 26px 26px no-repeat;
}

#header .header_area.active .side_btn .bar {
  background: #707070;
}

#header .header_area.active .side_btn .munu_min {
  color: #161616;
}

#header .header_area.active .side_btn .dot {
  background-color: #161616;
}

#header .balloon {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 36px;
  left: 49%;
  transform: translate(-50%, 0%);
  width: 70px;
  background: #e5e5e5;
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  padding: 6px 0;
  z-index: 99;
}

#header .balloon:after {
  border-top: 0px solid transparent;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #e5e5e5;
  content: "";
  position: absolute;
  top: -10px;
  left: 25px;
}

#header .balloon a {
  margin: auto;
  display: block;
  text-align: center;
}

#header .balloon.balloon_show {
  display: flex;
}

.menu_bg {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
  display: none;
}

#footer {
  width: 100%;
  min-height: 225px;
  background: #000000;
  border: 1px solid #000000;
  font-size: 13px;
  font-weight: 300;
  line-height: 1.38;
  letter-spacing: -0.33px;
  text-align: left;
  color: #a2a2a2;
}

#footer .inner {
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 32px;
}

#footer .logo {
  max-width: 190px;
}

#footer .content {
  flex: 1;
  margin-left: 90px;
  padding-top: 22px;
}

#footer .content .wapper {
  display: flex;
  justify-content: space-between;
}

#footer .content .column {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

#footer .column .name {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.71;
  letter-spacing: -0.35px;
  color: #666;
}

#footer .column .info {
  display: flex;
}

#footer .column .info .bar {
  display: inline-block;
  width: 1px;
  height: 13px;
  background-color: #525252;
  margin: 0 12px;
}

/* 드롭다운 */
#footer .dropbtn {
  width: 122px;
  height: 30px;
  border: solid 1px #666;
  font-size: 12px;
  line-height: 1.96;
  letter-spacing: -0.48px;
  color: #666;
  border-radius: 30px;
  background: transparent;
  text-align: left;
  padding: 0 24px;
  cursor: pointer;
}

#footer .dropbtn::before {
  content: url("/img/icon/dropdown.png");
  position: absolute;
  right: 24px;
}

#footer .dropdown {
  position: relative;
  display: inline-block;
}

#footer .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  top: 30px;
  left: 50%;
  width: 80%;
  transform: translate(-50%, 0%);
}

#footer .dropdown.on .dropdown-content {
  display: block;
}

#footer .dropdown-content a {
  color: black;
  padding: 6px 16px;
  text-decoration: none;
  display: block;
}

#footer .dropdown-content a:hover {
  background-color: #ddd;
}

#footer .copyright {
  letter-spacing: -0.52px;
  margin-top: 42px;
}

@media all and (max-width: 1200px) {
  #footer .content {
    margin-left: 50px;
  }
}

@media all and (max-width: 1100px) {
  #footer .column .info {
    flex-direction: column;
  }

  #footer .column .info .bar {
    display: none;
  }

  #footer .copyright {
    margin-top: 20px;
  }
}

@media all and (max-width: 960px) {
  #header .header_area .logo {
    background: url(../img/logo.png) center / 100% auto no-repeat;
    min-width: 128px;
    width: 21vw;
  }

  #header #menu {
    position: absolute;
    top: 100px;
    left: -4vw;
    width: 100vw;
    height: calc(100vh - 100px);
    overflow-y: auto;
    display: none;
  }

  #header .header_area.on #menu {
    display: block;
  }
  #menu ul li.menu_step01 {
    width: 100%;
    height: auto;
  }

  #menu ul.wrap {
    flex-direction: column;
    align-items: center;
  }

  .header_area #menu ul li.menu_step01 .wrap {
    height: auto;
    display: none;
  }

  .header_area.on #menu ul li.menu_step01 .wrap {
    display: flex;
    margin: 20px 0;
  }

  #header .header_area.active #menu ul li .wrap a {
    display: none;
  }

  #header .header_area.active #menu ul li span {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 5.4vw;
    font-weight: bold;
    line-height: 1.25;
    cursor: pointer;
  }

  #header .header_area.on #menu .sub_wrap {
    position: relative;
    top: 0;
    display: none;
  }

  #menu .menu_step01 .wrap.show + .sub_wrap {
    display: block !important;
  }

  #menu .menu_step01 .wrap.show span {
    color: #0075c1;
  }

  #menu .menu_icon img {
    height: 8.5vw;
  }

  #header .header_area.active #menu ul.sub_wrap li a {
    font-size: 3.3vw;
  }

  #menu .menu_icon .bar {
    min-width: 29px;
    width: 6vw;
  }
}
